anytree==2.12.0
argcomplete==3.1.6
autograd==1.6.2
bpx==0.3.1
casadi==3.6.4
colorlog==6.7.0
contourpy==1.2.0
cycler==0.12.1
distlib==0.3.7
filelock==3.13.1
fonttools==4.44.0
future==0.18.3
imageio==2.32.0
importlib-metadata==6.8.0
kiwisolver==1.4.5
latexcodec==2.0.1
matplotlib==3.8.1
mpmath==1.3.0
nox==2023.4.22
numpy==1.26.2
packaging==23.2
pandas==2.1.3
pbparam @ file:///home/runner/work/pybamm-param/pybamm-param
Pillow==10.0.1
platformdirs==3.11.0
pybamm==23.5
pybtex==0.24.0
pydantic==1.10.13
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
scikit-fem==8.1.0
scipy==1.11.3
six==1.16.0
sympy==1.12
tqdm==4.66.1
typing_extensions==4.8.0
tzdata==2023.3
virtualenv==20.24.6
xarray==2023.10.1
zipp==3.17.0
