anytree==2.12.1
argcomplete==3.5.0
casadi==3.6.6
certifi==2024.8.30
charset-normalizer==3.3.2
colorlog==6.8.2
contourpy==1.3.0
cycler==0.12.1
distlib==0.3.8
filelock==3.16.0
fonttools==4.53.1
idna==3.8
kiwisolver==1.4.7
matplotlib==3.9.2
mpmath==1.3.0
nox==2024.4.15
numpy==1.26.4
packaging==24.1
pandas==2.2.2
pbparam @ file:///home/runner/work/pybamm-param/pybamm-param
pillow==10.4.0
platformdirs==4.3.2
pooch==1.8.2
pybamm==24.9.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
scipy==1.14.1
six==1.16.0
sympy==1.13.2
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.3
virtualenv==20.26.4
xarray==2024.9.0
