anytree==2.12.1
argcomplete==3.2.2
casadi==3.6.4
colorlog==6.8.2
contourpy==1.2.0
cycler==0.12.1
distlib==0.3.8
filelock==3.13.1
fonttools==4.49.0
kiwisolver==1.4.5
matplotlib==3.8.3
nox==2023.4.22
numpy==1.26.4
packaging==23.2
pandas==2.2.0
pbparam @ file:///home/runner/work/pybamm-param/pybamm-param
pillow==10.2.0
platformdirs==4.2.0
pybamm==24.1
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2024.1
scipy==1.12.0
six==1.16.0
tzdata==2024.1
virtualenv==20.25.0
xarray==2024.1.1
