name: pybamm-param

on:
  push

jobs:

  pre_job:
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@master
        with:
          # All of these options are optional, so you can remove them if you are happy with the defaults
          concurrent_skipping: 'never'
          cancel_others: 'true'
          paths_ignore: '["**/README.md"]'

  style:
    needs: pre_job
    if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup python
      uses: actions/setup-python@v4
      with:
        python-version: 3.9

    - name: Check style
      run: |
        python -m pip install nox
        nox -s lint

  build:
    needs: style
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install standard python dependencies
      run: |
        python -m pip install --upgrade pip wheel setuptools
        python -m pip install nox
    
    - name: Run unit tests (except GNU/Linux with Python 3.9)
      if: matrix.os != 'ubuntu-latest' || matrix.python-version != 3.9
      run: nox -p "${{matrix.python-version}}" -s unit

    - name: Run integration tests
      run: nox -p "${{matrix.python-version}}" -s integration

    - name: Install docs dependencies and run doctests
      if: matrix.os == 'ubuntu-latest' && matrix.python-version == 3.9
      run: nox -s sphinx

    - name: Install dev dependencies and run example tests
      if: matrix.os == 'ubuntu-latest'
      run: nox -p "${{matrix.python-version}}" -s examples
  
  post_job:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        token: ${{ secrets.BOT_ACCESS_TOKEN }}
    
    - name: setup git
      run: |
        git config --global user.name "gitbot-scrtp"
        git config --global user.email "resource.rse@warwick.ac.uk"

    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    - name: Install package
      run: |
        python -m pip install --upgrade pip wheel setuptools nox
        python -m pip install .

    - name: run coverage on latest python version
      run: nox -s coverage 

    - name: Update python requirements file
      run: |
        python -m pip freeze > requirements.txt
    
    - name: Commit and push changes
      uses: EndBug/add-and-commit@v9
      with:
        add: coverage.xml requirements.txt
        message: 'Update requirements.txt and coverage.xml'
        author_name: gitbot-scrtp
        author_email: user.email

